<!doctype html>
<html>

<%- include('./comp/head.ejs') %>

    <body>

        <main class="main" id="top">
            <%- include('./comp/sidebar.ejs') %>
                <%- include('./comp/navbar.ejs') %>

                    <div class="content">
                        <div class="d-flex">

                            <h1>Dashboard</h1>
                            <br><br>
                            <button class="btn btn-outline-danger btn-sm " onclick="logout()" >Logout</button>

                        </div>


                        <%- include('./comp/footer.ejs') %>
                    </div>



                    <%- include('./comp/other.ejs') %>
        </main>


        <!-- <script src="./renderer.js"></script> -->
        <%- include('./comp/scripts.ejs') %>
        <script>
            function logout(){
                electron.ipcRenderer.invoke('logout').then((result) => {
                    window.location = '<%= baseurl %>/pagesX/login.ejs';
                }).catch((err) => {
                    
                });
            }
        </script>
    </body>

</html>